/* CARDS PRODUITS */

.three-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8em;
    gap: 10em;
    width: 90vw;
    position: relative;
    bottom: 5em;
    left: 5em;
}

.first-products-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.first-products-card img {
    border-radius: 1em;
}

.first-products-card button {
    width: 50%;
    height: 3em;
    font-size: 2em;
    padding: 1em;
    border: 2px solid black;
    border-radius: 1em;
    background-color: black;
    color: yellow;
}

.first-products-card button p {
    position: relative;
    bottom: 0.8em;
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
}

.card_button {
    text-decoration: none;
    background-color: black;
    color: yellow;
}