@media screen and (width <= 1050px) and (max-height: 1920px) {
    .add-product-to-cart {
        font-size: 2em;
    }

    .description_cart-icon {
        font-size: 1.2em;
    }
}

@media screen and (width <= 1050px) and (max-height: 760px) {
    .add-product-to-cart {
        font-size: 2em;
    }

    .description_cart-icon {
        font-size: 1.2em;
    }
}

@media screen and (width <= 900px) and (max-height: 1920px) {
    .Boutique {
        height: 2200px;
    }

    #main_title {
        margin-top: 100px;
    }
}

@media screen and (width <= 900px) and (max-height: 760px) {
    .Boutique {
        height: 2200px;
    }

    #main_title {
        margin-top: 100px;
    }
}

@media screen and (width <= 800px) and (max-height: 1920px) {
    .add-product-to-cart {
        font-size: 2.5em;
    }

    .description_cart-icon {
        font-size: 1.2em;
    }
}

@media screen and (width <= 800px) and (max-height: 760px) {
    .add-product-to-cart {
        font-size: 2.5em;
    }

    .description_cart-icon {
        font-size: 1.2em;
    }
}

@media screen and (width <= 700px) and (max-height: 1920px) {
    .Boutique {
        height: 2000px;
    }

    #main_title {
        margin-top: 100px;
    }

    .article_pic_title h2,
    #washable-towels,
    #handbag-organizer {
        font-size: 1.2em;
        text-align: center;
    }
}

@media screen and (width <= 700px) and (max-height: 760px) {
    .Boutique {
        height: 2000px;
    }

    #main_title {
        margin-top: 100px;
    }

    .article_pic_title h2,
    #washable-towels,
    #handbag-organizer {
        font-size: 1.2em;
        text-align: center;
    }
}

@media screen and (width <= 620px) and (max-height: 1920px) {
    .add-product-to-cart {
        font-size: 3.5em;
    }

    .description_cart-icon {
        font-size: 1.2em;
    }
}

@media screen and (width <= 620px) and (max-height: 760px) {
    .add-product-to-cart {
        font-size: 3.5em;
    }

    .description_cart-icon {
        font-size: 1.2em;
    }
}

