* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main-frame {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    align-items: center;
    justify-content: center;
    margin-top: 18vh;
  }
  
  /* PANIER */
  
  .panier-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 60vw;
    border: 4px solid gray;
    border-radius: 15px;
    position: relative;
    margin-top: 10vh;
    /* background-color: black; */
  }
  
  .panier-frame img {
    width: 20vw;
    border-radius: 8px;
    position: relative;
    bottom: 1em;
    right: 8em;
  }
  
  .panier-texte {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 3em;
    font-family: "Amatic SC", cursive;
  }
  
  .quantite {
    text-align: center;
    position: relative;
  }
  
  #button {
    height: 8vh;
    width: 10vw;
    font-size: 3em;
    position: relative;
    top: 13vh;
    left: 2em;
    background-color: royalblue;
    color: yellow;
    border-radius: 6px;
    font-family: "Amatic SC", cursive;
  }
  
  #button:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: yellow;
    color: royalblue;
  }