@media screen and (width <= 1000px){
    #connexion-btn {
        width: 14vw; 
    }
}

@media screen and (width <= 680px) {
    #connexion-btn {
        width: 21vw;
    }

    form label {
        font-size: 2.6em;
    }
}