@media screen and (width <= 1460px) {
    .PolitiqueDeConfidentialite {
        height: 830vh;
    }
}

@media screen and (width <= 1330px) {
    .PolitiqueDeConfidentialite {
        height: 850vh;
    }
}

@media screen and (width <= 1200px) {
    .PolitiqueDeConfidentialite {
        height: 880vh;
    }
}

@media screen and (width <= 1170px) {
    .PolitiqueDeConfidentialite {
        height: 900vh;
    }
}

@media screen and (width <= 1130px) {
    .PolitiqueDeConfidentialite {
        height: 950vh;
    }
}

@media screen and (width <= 1065px) {
    .PolitiqueDeConfidentialite {
        height: 1030vh;
    }
}

@media screen and (width <= 910px) {
    .PolitiqueDeConfidentialite {
        height: 1050vh;
    }
}

@media screen and (width <= 910px) {
    .PolitiqueDeConfidentialite {
        height: 1100vh;
    }
}

@media screen and (width <= 775px) {
    .PolitiqueDeConfidentialite {
        height: 1180vh;
    }
}

@media screen and (width <= 730px) {
    .PolitiqueDeConfidentialite {
        height: 1230vh;
    }
}

@media screen and (width <= 690px) {
    .PolitiqueDeConfidentialite {
        height: 1280vh;
    }
}

@media screen and (width <= 645px) {
    .PolitiqueDeConfidentialite {
        height: 1300vh;
    }
}

@media screen and (width <= 620px) {
    .PolitiqueDeConfidentialite {
        height: 1380vh;
    }
}

@media screen and (width <= 600px) {
    .PolitiqueDeConfidentialite {
        height: 1430vh;
    }
}

@media screen and (width <= 565px) {
    .PolitiqueDeConfidentialite {
        height: 1450vh;
    }
}

@media screen and (width <= 545px) {
    .PolitiqueDeConfidentialite {
        height: 1500vh;
    }
}


@media screen and (width <= 535px) {
    .PolitiqueDeConfidentialite {
        height: 1550vh;
    }
}

@media screen and (width <= 525px) {
    .PolitiqueDeConfidentialite {
        height: 1630vh;
    }
}

@media screen and (width <= 500px) {
    .PolitiqueDeConfidentialite {
        height: 1680vh;
    }
}