@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
* {
    font-family: 'Amatic SC', cursive;
}

.BoutiqueVetement {
    font-family: 'Amatic', cursive;
    height: 100em;
    width: 100vw;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#product_main_title {
    text-align: center;
    margin-right: 20%;
    margin-bottom: 10em;
    position: absolute;
    top: 4em;
    
}

#product_main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 36em;
}

#product_images_description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10em;
}

#product_name_price_description {
    position: relative;
    top: -5vh;
}

#product_images {
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 2em;
}

#product_main_image {
    height: 70vh;
    width: 23vw;
    border: 4px dotted black;
    padding: 8px;
    background-color: black;
}

#product_side_images {
    display: flex;
    flex-direction: column;
}

#product_side_images img {
    margin-bottom: 1.5em;
    border: 3px dotted black;
    width: 10vw;
}

#product_price {
    font-size: 3em;
    text-align: left;
}

#product_description {
    margin-top: 2em;
    height: 62vh;
    width: 53%;
    line-height: 37px;
    font-size: 30px;
    text-align: left;
    padding: 0.8em;
    letter-spacing: 3px;
    border: 2px dashed rgba(0, 0, 0, 0.328);
}

#product_description_container {
    /* border: 2px solid red; */
    margin: 1vh;
}

#product_colors_sizes_quantity_cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}

#product_colors_list {
    display: grid;
    grid-template-columns: repeat(3, 80px); /* Crée trois colonnes de 80px chacune */
    grid-template-rows: repeat(2, 80px);    /* Crée deux lignes de 80px chacune */
    gap: 20px; /* Espacement entre les divs */
    position: relative;
    top: -2vh;
}

#product_colors {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    margin-right: 35%;
    position: relative;
    top: -14vh;
}

#product_colors h3 {
    font-weight: bold;
    font-size: 2.2em;
    padding: 0.5em;
    text-align: left;
    margin-right: 1.7em;
}

.product_color {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 0.2s;
}

.product_color:hover {
    border: 3px solid white;
    cursor: pointer;
}


.product_color_blue {
    background-color: blue;
}

.product_color_yellow {
    background-color: rgb(255, 226, 8);
}

.product_color_green {
    background-color: greenyellow;
}

.product_color_red {
    background-color: red;
}

.product_color_pink {
    background-color: pink;
}

.product_color_purple {
    background-color: purple;
}

#product_colors_sizes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#vetement_product_sizes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 40%;
    position: relative;
    top: -10vh;
}

#vetement_product_sizes h3 {
    font-weight: bold;
    font-size: 2em;
    text-align: left;
    position: relative;
    left: 1vw;

}

#sizes-select {
    width: 14.3vw;
    font-weight: bold;
    font-size: 1.6em;
    padding: 0.6em;
    position: relative;
    top: -4vh;
    left: 4vw;
    letter-spacing: 2px;
}

#vetement_product_quantity {
    width: 22vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10vh;
    left: 46vw;
}

#product_quantity_label {
    font-weight: bold;
    font-size: 2.2em;
    padding: 0.5em;
    letter-spacing: 2px;
}

#product_quantity_input {
    font-weight: bold;
    font-size: 1.8em;
    padding: 0.5em;
    height: 5vh;
    width: 120px;
}

#product_add-to-cart {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-end;
    margin-right: 35%;
    position: relative;
    top: -8vh;

}

#product_add-to-cart p {
    font-size: 2.2em;
    margin-top: 1em;
    letter-spacing: 2px;
    width: 9vw;
    text-align: right;
}

#vetement_product_add-to-cart_button {
    display: flex;  
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    padding: 0.5em;
    margin-top: 1em;
    height: 8.5vh;
    width: 200px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
}

.vetement_product_add-to-cart_button_icon {
    font-size: 30px;
    margin-right: 0.5em;
}

#vetement_product_add-to-cart_button:hover {
    font-weight: bold;
    background-color: rgb(1, 165, 108);
    color: black;
    width: 180px;
}